In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/jinheo/Desktop/42AI/yolo_postprocess/bounding_boxes_downscaled.csv')

In [3]:
df = df.drop(columns=['File', 'Confidence'])

In [4]:
df.head()

,X1,Y1,X2,Y2,X3,Y3,X4,Y4
0,623.0,2.501110e-12,635.655487,1.397538,617.655487,164.397538,605.0,163.0
1,355.0,-1.008971e-12,373.512370,2.876922,350.512370,150.876922,332.0,148.0
2,622.0,1.406875e-12,631.373674,0.924165,617.373674,142.924165,608.0,142.0
3,625.0,-4.689582e-13,638.876362,1.197453,621.876362,198.197453,608.0,197.0
4,615.0,2.160050e-12,628.956508,0.905575,611.956508,262.905575,598.0,262.0

In [5]:
for col in ["X1", "Y1", "X2", "Y2", "X3", "Y3", "X4", "Y4"]:
    df[col] = df[col].round().astype(int)

In [8]:
# Create DOTA annotation format: "x1 y1 x2 y2 x3 y3 x4 y4 0 0"
df["DOTA"] = df.apply(lambda row: f"{row['X1']} {row['Y1']} {row['X2']} {row['Y2']} {row['X3']} {row['Y3']} {row['X4']} {row['Y4']} 0 0", axis=1)

# Get the DOTA annotations
dota_annotations = df["DOTA"].tolist()

# Convert list to a string with line breaks
dota_string = "\n".join(dota_annotations)

# Save the string to a text file
with open("/Users/jinheo/Desktop/42AI/OBJ00607_PS3_K3_NIA0086.txt", "w") as file:
    file.write(dota_string)